spring:
  datasource:
    url: jdbc:mysql://localhost:3306/cinematic_db
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        ddl-auto: update
logging:
  level:
    root: debug
